<!--
<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="fecharModal()">&times;</span>
    <form [formGroup]="tarefaForm" (ngSubmit)="cadastrarTarefa()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Status</label>
        <input type="text" formControlName="status"  class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Tipo</label>
        <input type="text" formControlName="tipo" class="form-control">
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput2">Prazo</label>
          <input type="date" formControlName="prazo" class="form-control">
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput2">Prioridade</label>
          <input type="text" formControlName="prioridade" class="form-control">
      </div>
      <div class="form-group">
        <hr>
        <button type="submit">Criar Tarefa</button>
      </div>
    </form>
  </div>
</div>
-->